.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* padding: 20px; */
}

.container__search {
  display: flex;
  flex-direction: row;
  align-items: start;
  /* padding: 20px; */
}
.container__search__input {
  border: 1px solid #d1d5db;
  color: gray;
  padding: 4px 8px;
  outline: none;
  height: 30px;
  width: 100%;
  font-size: revert;
}
.container__search__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: gray;
}
.container__search__select {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 0px !important;
  width: 140px;
}
.container__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 8.75rem;
  height: 10rem;
  overflow: scroll;
  border: 1px solid #d1d5db;
  width: -webkit-fill-available;
}

.container__list_item {
  border: 1px solid #d1d5db;
  padding: 10px;
  width: -webkit-fill-available;
  /* text-align: center; */
  cursor: pointer;
  font-size: small;
  color: gray;
}

.container__list_items:hover {
  background-color: black;
}
