.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.vertical {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #6b7280;
  padding-top: 4px;
}
