.iframe {
  width: 100%;
  min-height: calc(100vh - 48px);
}

.chart__container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  gap: 5rem;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  padding: 24px;
  padding-bottom: 48px;
  margin: 10px 10px 0px 10px;
  background-color: #fff;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 24px 24px 24px;
  background-color: #9553fe2e;
  margin: 10px 10px 0px 10px;
  border-radius: 5px;
}

.insightsContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0px 24px 24px 24px;
  padding-bottom: 48px;
  background-color: #fff;
  margin: 0px 10px 10px 10px;
}

.connectionLink {
  margin: 0px 5px 0px 5px;
  background-color: #9553fe;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: white;
  font-weight: 400;
}

.tableTitle {
  color: black;
  font-weight: 800;
}

.aqs-block {
  width: 25%;
  margin: 0px 5px 0px 5px;
  padding: 5px 5px 0px 5px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  max-height: 280px;
}

.aqs-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.aqs-subtitle {
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
}
