<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="padding-top:20px">
        <tbody>
        <tr>
            <td>
                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td height="35">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr>
                                        <td width="30">
                                        </td>
                                        <td>
                                            <div>
                                                <a href="https://drdroid.io">
                                                    <img src="https://drdroid-public-content.s3.us-west-2.amazonaws.com/black_logo.png"
                                                         border="0" width="150" height="60" alt="Doctor Droid">
                                                </a>
                                            </div>
                                        </td>
                                        <td width="30"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td height="35">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table width="92%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <p>
                                            Hi {{custom_user_name}},
                                        </p>
                                        <p>
                                            You're one step away! To start using Doctor Droid, please verify your email
                                            address by clicking the following link:
                                        </p>
                                        <p>
                                            <strong>
                                                <a href={{ activate_url }}>
                                                    {{ activate_url }}
                                                </a>
                                            </strong>
                                        </p>
                                        <p>
                                            Welcome to the Doctor Droid family.
                                        </p>
                                        <p>
                                            Best,
                                            <br>
                                            The Doctor Droid Team
                                        </p>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td height="20">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>