.valueContainer {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.input__valueContainer {
  background: #fff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  color: #1f2937;
  padding: 4px 8px;
  outline: none;
  width: 300px;
  height: auto;
}

.input__valueContainer {
  background: #fff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  color: #1f2937;
  padding: 4px 8px;
  outline: none;
  height: auto;
}

.inputLength {
  width: 300px;
}

.inputLength_200 {
  width: 200px;
}

.inputLength_400 {
  width: 400px;
}

.inputLength_500 {
  width: 500px;
}

.inputLength_600 {
  width: 600px;
}

.inputLength_700 {
  width: 700px;
}

.boolean__valueContainer {
  margin-left: 4px;
}
