@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* nprogress custom styles */
#nprogress .bar {
  background: #9553fe !important;
  height: 3px !important; /* Default is 2px, increase to 3px */
}

#nprogress .peg {
  box-shadow: 0 0 10px #9553fe, 0 0 5px #9553fe !important;
}

#nprogress .spinner-icon {
  border-top-color: #9553fe !important;
  border-left-color: #9553fe !important;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.MuiCircularProgress-colorPrimary {
  color: #9553fe !important;
}

.activeNavLink {
  background-color: #9553fe !important; /* Active background color */
  color: white !important; /* Active text color, !important to override MUI styles */
}

.activeNavLink .MuiListItemIcon-root,
.activeNavLink .MuiSvgIcon-root {
  color: white !important; /* Ensure icon color also changes, if needed */
}

.logo:hover {
  background-color: transparent !important;
}

.wmde-markdown ol {
  list-style: auto !important;
}

.wmde-markdown ul {
  list-style: circle !important;
}

.MuiTableCell-root {
  padding: 14px !important;
  font-size: 15px;
  border-color: #eee !important;
}

.MuiTableCell-root a {
  text-decoration: none !important;
  color: #9553fe !important;
}

.MuiTableCell-root a:hover {
  text-decoration: underline !important;
}

.MuiTableRow-root:hover {
  background-color: #eee !important;
  transition: all 0.2s !important;
}

.MuiTableHead-root .MuiTableCell-root {
  border-bottom: 2px solid #ededed !important;
  font-size: 14px !important;
  padding: 8px !important;
}

td {
  width: fit-content !important;
  max-width: max-content !important;
  min-width: max-content !important;
}

.add-step-buttons {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.add-button:hover + .add-step-buttons {
  max-height: 250px;
  opacity: 1;
}

.add-step-buttons:hover {
  max-height: 250px;
  opacity: 1;
}

.step-notes {
  opacity: 0;
  transition: all 0.2s;
}

.step-information:hover + .step-notes {
  opacity: 1;
}

.step-notes:hover {
  opacity: 1;
}

/* .echarts-for-react canvas {
  width: 100% !important;
  min-height: 100% !important;
} */
/* 
.echarts-for-react {
  width: 100% !important;
  min-height: 100% !important;
} */

.echarts-for-react > div:first-child {
  display: flex;
  flex: 1;
}

/* Add this to your CSS file (e.g., styles.css) */
.animated-dotted-line {
  stroke-dasharray: 5;
  animation: dash-animation 1s linear infinite;
}

@keyframes dash-animation {
  to {
    stroke-dashoffset: -20;
  }
}

.rs-input-group {
  border: none !important;
  border-color: transparent !important;
  outline: none !important;
}

.rs-input-group:hover {
  border: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sidebar a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: all 0.2s;
}

.sidebar a:hover {
  background-color: #f3f3f3;
}
