@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.wrapper {
  display: flex;
  position: relative;
  height: 100vh;
  flex-direction: row;
}
.main {
  margin: 0px 300px;
  width: calc(100% - 600px);
  padding-left: 10px;
  padding-right: 60px;
  box-sizing: border-box;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  min-width: 300px;
  position: fixed;
  box-sizing: border-box;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 255, 255); */
  /* width: 350px; */
  /* position: fixed;
  right: 0px; */
  height: 100vh;
  /* margin-top: 10px;
  margin-right: 20px;
  padding-left: 20px; */
  box-sizing: border-box;
}

.sidebar .MuiButtonBase-root {
  padding: 15px;
}

ul a:active {
  background-color: #349eff;
}

#pre-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-animation: scale-up-center 120ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 120ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 500ms;
  flex-direction: column;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Layout.css */
.activeNavLink {
  background-color: #9553fe !important; /* Active background color */
  color: white !important; /* Active text color, !important to override MUI styles */
}

.activeNavLink .MuiListItemIcon-root {
  color: white !important; /* Ensure icon color also changes, if needed */
}

.sidebar1 a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: all 0.2s;
}

.sidebar1 a:hover {
  background-color: #f3f3f3;
}

.logo:hover {
  background-color: transparent !important;
}
