.pb-button {
  margin-right: 5px;
  border: 0.5px solid #9554ff;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 2px 5px 2px 5px;
  color: #9554ff;
  font-weight: normal;
}

.pb-button:hover {
  background-color: #9554ff;
  color: white;
}
