.timeSelector {
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 220px;
  font-size: 16px;
}

.timeRangeSelector {
  min-width: 140px;
  margin: 0px;
}

.timeRangePicker {
  display: flex;
}

.timeSelectorGroup {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 20px;
}

.timeSelectorButton {
  margin-right: 20px;
  padding: 0px 5px 0px 5px;
  color: #9554ff;
}
